@font-face {
  font-family: Epilogue;
  src: url(../../assets/fonts/Epilogue-Regular.ttf);
}
@font-face {
  font-family: Epilogue;
  src: url(../../assets/fonts/Epilogue-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Epilogue;
  src: url(../../assets/fonts/Epilogue-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Epilogue;
  src: url(../../assets/fonts/Epilogue-ExtraBold.ttf);
  font-weight: 900;
}
