$primary: #E29930;
$secondary: #707070;

$lightgray: #f0f0f0;
$gray: $secondary;
$darkgray: #303030;

$title: $primary;
$text: $secondary;

$fs13: 0.813em;
$fs14: 0.875em;
$fs-default: 1em;
$fs18: 1.125em;
$fs22: 1.375em;

$gutter: 2rem;
